body {
    background: #fbfbfb;
    margin: 0;
}



.grid-container {
    background: #44ff45;
    margin: 0;
    transition: opacity 0.2s ease;
    position: relative;
}


.busy {
    opacity: 1;
}

.cursor {
    position: absolute;
    width: 1ch;
    height: 1rem;
    background: red;
    opacity: 0.5;
}

.row-container {
    background-color: var(--default-bg-color);
    color: var(--default-fg-color);
    text-decoration-color: var(--default-sp-color);
    height: 1rem;
    width: 100%;
    position: relative;
}

.row-container span {
    height: 1rem;
    display: inline-block;
}

[data-hl-id='0'] {
    background-color: var(--default-bg-color);
    color: var(--default-fg-color);
    text-decoration-color: var(--default-sp-color);
}


.col-span {
    position: absolute;
    width: 1ch;
    height: 1rem;
    display: inline-block;
}
